@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
}

.font-display {
  font-family: 'Baloo 2', sans-serif;
}

@keyframes float {
  0%, 100% { transform: translateY(0px) rotate(0deg); }
  50% { transform: translateY(-15px) rotate(3deg); }
}

.floaty {
  animation: float 6s ease-in-out infinite;
}